In [2]:
#file=open('<file name>','<mode>')
# <operation>
# file.close()
#with open(<'file name>','<mode>') as file:
#<operation>

In [2]:
file=open('data.txt','x')
file.close()

In [3]:
file=open('data.txt','r')
x=file.read()
print(x)
print(type(x))
file.close()

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world
7.Hello world
8.Hello world
9.Hello world
10.Hello world

<class 'str'>

In [4]:
(x)

'1.Hello world\n2.Hello world\n3.Hello world\n4.Hello world\n5.Hello world\n6.Hello world\n7.Hello world\n8.Hello world\n9.Hello world\n10.Hello world\n'

In [5]:
y=x.split('\n')
print(y)
for i in range(len(y)):
    print(y[i])
    print([i])

['1.Hello world', '2.Hello world', '3.Hello world', '4.Hello world', '5.Hello world', '6.Hello world', '7.Hello world', '8.Hello world', '9.Hello world', '10.Hello world', '']
1.Hello world
[0]
2.Hello world
[1]
3.Hello world
[2]
4.Hello world
[3]
5.Hello world
[4]
6.Hello world
[5]
7.Hello world
[6]
8.Hello world
[7]
9.Hello world
[8]
10.Hello world
[9]

[10]

In [6]:
line_no=int(input("enter line no= "))
y[line_no-1]

enter line no= 4

'4.Hello world'

In [ ]:
# write
# file= open('<file_name>','<mode>')
# <operation>
# file.close()

In [7]:
info=""
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name= ")
    price=int(input("enter price= "))
    quantity=float(input("enter quantity="))
    total=price*quantity
    data=f" {name} {price} {quantity} {total}\n"
    info =info+data
print(info)
file=open('data1.txt','w')
file.write(info)
file.close()

enter n= 2
enter name= Apple
enter price= 1200
enter quantity=3
enter name= Banana
enter price= 120
enter quantity=4
 Apple 1200 3.0 3600.0
 Banana 120 4.0 480.0

In [8]:
#append
info=""
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name= ")
    price=int(input("enter price= "))
    quantity=float(input("enter quantity="))
    total=price*quantity
    data=f" {name} {price} {quantity} {total}\n"
    info =info+data
print(info)
file=open('bill.txt','a')
file.write(info)
file.close()

enter n= 2
enter name= Glass
enter price= 1200
enter quantity=2
enter name= Roller
enter price= 1000
enter quantity=4
 Glass 1200 2.0 2400.0
 Roller 1000 4.0 4000.0

In [9]:
file=open('bill.csv','a')
while True:
    name=input("enter name= ")
    price=int(input("enter price= "))
    quantity=float(input("enter quantity="))
    total=price*quantity
    data=f" {name},{price},{quantity},{total}\n"
    file.write(data)
    x= input("enter y for next entry")
    if x=='y':
        continue
    else:
        break
file.close()

enter name= Apple
enter price= 120
enter quantity=3
enter y for next entryy
enter name= Banana
enter price= 240
enter quantity=12
enter y for next entryy
enter name= Cable
enter price= 1300
enter quantity=12
enter y for next entryy
enter name= Dish home
enter price= 1200
enter quantity=1
enter y for next entryji

In [2]:
file=open('bill1.csv','a')
file.write('Product, Price, Quantity,Total\n')
file.close()

In [ ]:
while True:
    name=input("enter name= ")
    price=int(input("enter price= "))
    quantity=float(input("enter quantity="))
    total=price*quantity
    data=f" {name},{price},{quantity},{total}\n"
    file.write(data)
    x= input("enter y for next entry")
    if x==' ':
        continue
    else:
        break
    flle.close()

In [1]:
file=open('bill1.csv','a')
file.write('Product,Quantity,Price,Total\n')
file.close()

In [ ]:
while True:
    name=input("enter name= ")
    price=int(input("enter price= "))
    quantity=float(input("enter quantity="))
    total=price*quantity
    data=f" {name},{price},{quantity},{total}\n"
    x= input("enter y for next entry")
    file.write(data)
    if x=='y':
        continue
    else:
        break
    flle.close()

In [ ]:
file=open('bill1.csv','a')
file.close()

In [4]:
def raise_the_power(base_num,pow_num):
    return  base_num**pow_num
print(raise_the_power(4,4))

256

In [14]:
import math as m
print(m.pow(3,2))

9.0

In [22]:
x=lambda x:x*2#In this case we see how lambda funtion working.
print(x(3))
x=lambda l,b:l*b
print(x(4,5))

6
20

In [29]:
a=[1,2,3,4,5,6,7,8,12,13,14,15,15,15]
print(a*2)
b=list(filter(lambda x:x%2==0,a))
print(b)
print(list(map(lambda x:x**2,b)))

[1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 15, 15, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 15, 15]
[2, 4, 6, 8, 12, 14]
[4, 16, 36, 64, 144, 196]

In [41]:
x=[
    [1,2,3,4],
    [4,5,6,7],
    [6,7,8,9],
    [0]
]
print(x[0][3])
for i in x:
    for j in i:
        print(j)

4
1
2
3
4
4
5
6
7
6
7
8
9
0

In [48]:
def translate(phrase):
    translation=""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation=translation +"G"
            else:
                translation=translation+"g"
        else:
            translation= translation+letter
    return translation
print(translate(input("Enter phrase= ")))

Enter phrase= you can do it bro
ygg cgn dg gt brg

In [8]:
try:
    answer=10/0
    number=int(input("enter number= "))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError:
    print("Invalid code")

division by zero

In [10]:
employee_file=open("data1.txt","a")
employee_file.write("Mango-130-2")
print(employee_file.close())

None

In [13]:
from fractions import Fraction
x=Fraction(1/2)
print(x/3)

1/6

In [1]:
def test(a,b):
    try:
        print("Apple")
        return a*b
    finally:
        print("orange")
print(test(2,4))

Apple
orange
8

In [8]:
fib = {1: 1, 2: 1, 3: 2, 4: 3 ,7:8}
print(fib.get(4))
print(fib.get(7))

3
8

In [11]:
x, y = [1, 2]
x, y = y, x
print(y)

1

In [16]:
for i in range(20):
    print(i)
a=[i for i in range(20) if i%3==0]
print(a)
nums = (55, 44, 33, 22)
print(max(min(nums[:2]), abs(-42)))
print(abs(-42))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
[0, 3, 6, 9, 12, 15, 18]
44
42

In [25]:
def test(func, arg):
  return func(func(arg))

def mult(x):
  return x * x

print(test(mult, 2))

def my_func(f, arg):
  return f(arg)

my_func(lambda x: 2*x*x, 5)

16

50

In [30]:
def polynomial(x):
    return x**2+5*x+4
print(polynomial(-4))

print((lambda x:x**2+5*x+4)(-4))

0
0

In [34]:
def make_word():
    word=""
    for i in "spam":
        word+=i
        yield word
print(list(make_word()))

['s', 'sp', 'spa', 'spam']

In [1]:
def my_word():
    word=""
    for i in "Naresh":
        word+=i
        yield word
print(list(my_word()))

['N', 'Na', 'Nar', 'Nare', 'Nares', 'Naresh']