In [1]:
print("hello world!")

hello world!

In [2]:
print(1**2**3)
print(2//4)
print(4/4)
print(3%5)
print('Naresh')

1
0
1.0
3
Naresh

In [3]:
x=int(input("enter first number:"))
y=int(input("enter second number:"))
sum=x+y
diff=x=y
mul=x*y
div= x//y
print(f"The sum is {sum}")
print(f"The diff is {diff}")
print(f"The mul is {mul}")
print(f"The div is {div}")
print(type(x))

enter first number:33
enter second number:44
The sum is 77
The diff is 44
The mul is 1936
The div is 1
<class 'int'>

In [4]:
print("He\'s Mahesh kc from nepal")
number=3
list=["strings",0,[1,2,number],4.56]
print(list[0])
print(list[1])
print(list[2])
print([list[2][2]])
list.append(99)
print(list)
list.insert(2,44)
print(list)
list.reverse()
print(list)
list.reverse()
print (list)

He's Mahesh kc from nepal
strings
0
[1, 2, 3]
[3]
['strings', 0, [1, 2, 3], 4.56, 99]
['strings', 0, 44, [1, 2, 3], 4.56, 99]
[99, 4.56, [1, 2, 3], 44, 0, 'strings']
['strings', 0, 44, [1, 2, 3], 4.56, 99]

In [5]:
a=10.50; b=10
print(a+b)
a="hello "
b="world"
c=a+b
print(c)
print("a,b,c,d,e,f")#when we used a double quotation then it's a string.Boolean datatype
helloworld="hello world"
print(type(helloworld))
print("It;s naresh joshi from nepal")

20.5
hello world
a,b,c,d,e,f
<class 'str'>
It;s naresh joshi from nepal

In [6]:
age=42
print("his age is "+str(age))#In this case we used the str fucntion to change the integer value in string form 
name= input("Enter your name")
age=input()
print(name +" is "+ age)#we take the multiple times user inputs
#inplace operators
x=3
print(x)
x+=4
print(x)

his age is 42
Enter your namenaresh joshi
20
naresh joshi  is 20
3
7

In [24]:
x=4
print(x)
x+=4 #In this case we used the inplace operators (instead of x=+4)
print(x)
x*=2
print(x)
x="eggs"
print(x)
x+="spam"#same as interger value also in a string.
print(x)
spam=7
spam=spam+0
eggs=int(spam)+3
print(float(eggs))
age=42
print(age+8)
print(2==3)
print(1!=1)
print("seven"!="eleven")
print("hello"=="hello")
print(1==1&2==2)
print(1==1 and 2==2)

4
8
16
eggs
eggsspam
10.0
50
False
False
True
True
False
True