In [2]:
#list 
a=["Zebra","banana","ixray","apple","cat","Zebra"]
i= a.count("Zebra")
for i in range(i):
    a.remove("Zebra")
print(a)

['banana', 'ixray', 'apple', 'cat']

In [7]:
a=["Zebra","banana","ixray","apple","cat","Zebra"]
for i in range(len(a)):
    print(a[i])
    print(i)

Zebra
0
banana
1
ixray
2
apple
3
cat
4
Zebra
5

In [9]:
a=["Zebra","banana","ixray","apple","cat","Zebra"]
for i in range(len(a)):
    if a[i]=="Zebra":
        print(i)

0
5

In [11]:
#search
a=["Zebra","banana","ixray","apple","cat","Zebra"]
if "Zebra" in a:
    print("yes")
    print(a.count("Zebra"))
else:
    print("No")

yes
2

In [19]:
#list inside list.(nested list statement)
info=[["ram",56,"kathmandu"],
     ["shyam",45,"lalitpur"],
     ["hari",34,"bhaktapur"]]
print(info[0])
print(info[2][1])
print(info[0][0])
print(info[0][1])
print(info[0][2])
print(info[1][0])
print(info[1][1])
print(info[1][2])
print(info[2][0])

['ram', 56, 'kathmandu']
34
ram
56
kathmandu
shyam
45
lalitpur
hari

In [28]:
info=[["ram",56,"kathmandu"],
     ["shyam",45,"lalitpur"],
     ["hari",34,"bhaktapur"]]

info[0][0]="krishna"
print(info)
del info[0][0]
print(info)

[['krishna', 56, 'kathmandu'], ['shyam', 45, 'lalitpur'], ['hari', 34, 'bhaktapur']]
[[56, 'kathmandu'], ['shyam', 45, 'lalitpur'], ['hari', 34, 'bhaktapur']]

In [1]:
info=[["ram",56,"kathmandu"],
     ["shyam",45,"lalitpur"],
     ["hari",34,"bhaktapur"]]
for i in range(0,len(info)):
    x=input(f"Enter surname of {info[i][0]}= ")
    info[i].insert(1,x)
print(info)

Enter surname of ram= kc
Enter surname of shyam= kc
Enter surname of hari= kc
[['ram', 'kc', 56, 'kathmandu'], ['shyam', 'kc', 45, 'lalitpur'], ['hari', 'kc', 34, 'bhaktapur']]

In [ ]:
info=[["Ram",56,"kathmandu"],
     ["Shyam",45,"lalitpur"],
     ["Hari",34,"bhaktapur"]]
name=input("Enter name =")
for i in info:
    if name.lower() ==i[0].lower():
        print(i)

In [13]:
a=[{'name':"ram",'age':45,'add':"kathmandu"},
   {'name':"Shyam",'age':65,'add':"lalitpur"},
   {'name':"Hari",'age':44,'add':"bhaktapur"}
   ]
print(a)

[{'name': 'ram', 'age': 45, 'add': 'kathmandu'}, {'name': 'Shyam', 'age': 65, 'add': 'lalitpur'}, {'name': 'Hari', 'age': 44, 'add': 'bhaktapur'}]
2