In [1]:
# python collection 
# list 
# tuple 
# dict 
# set

In [2]:
# list 
# indexing 
# multiple and duplicate
# mutable
#ordered

In [8]:
a=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8]
print(a)
print(a[9])
print(a[1:9:3])
print(len(a))
print(a[1:])
print(a[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8]
1
[2, 5, 8]
17
[2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
a=["apple","ball"," cat","fish"]
b=[1,2,3,4,5,6,7,8,9,1,2,3,4,6,7,8,9]
print(a+b)
print(b*3)

['apple', 'ball', ' cat', 'fish', 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 6, 7, 8, 9]

In [14]:
#for making empty string in list.
#a=[]
#a=list()
a=list()
a=a+["apple"]
a=a+["ball"]
print(a)

a=[]
n=int(input("Enter n= "))
for i in range(n):
    x=input("enter x= ")
    a=a+[x]
print(a)

['apple', 'ball']
Enter n= 4
enter x= 12
enter x= 13
enter x= 14
enter x= 15
['12', '13', '14', '15']

In [28]:
a=[234,145,123,345,567,789,678,789,987,567]
print("The max value=",max(a))
print("The min value=",min(a))
print("the sum is=",sum(a))
print("the avg is =",sum(a)/len(a))
print(min(a))
print(max(a))
a.sort()
print(a)
a.append(12)
print(a)
a.reverse()
print(a)

The max value= 987
The min value= 123
the sum is= 5224
the avg is = 522.4
123
987
[123, 145, 234, 345, 567, 567, 678, 789, 789, 987]
[123, 145, 234, 345, 567, 567, 678, 789, 789, 987, 12]
[12, 987, 789, 789, 678, 567, 567, 345, 234, 145, 123]

In [32]:
a=['apple','banana','ball','Zebra','Apple']
a.sort()
print(a)

['Apple', 'Zebra', 'apple', 'ball', 'banana']

In [34]:
a=[]
n= int(input("Enter n="))
for i in range(n):
    x=input("enter x=")
    a.append(x)
print(a)

Enter n=2
enter x=apple
enter x=bananna
['apple', 'bananna']

In [42]:
a=[12,13,14,45,56,67,68,89,78,89]
a.insert(1,34)
print(a)
a.insert(5,76)
print(a)
a.remove(14)
print(a)
a.pop(9)
print(a)
a.clear()
print(a)

[12, 34, 13, 14, 45, 56, 67, 68, 89, 78, 89]
[12, 34, 13, 14, 45, 76, 56, 67, 68, 89, 78, 89]
[12, 34, 13, 45, 76, 56, 67, 68, 89, 78, 89]
[12, 34, 13, 45, 76, 56, 67, 68, 89, 89]
[]

In [3]:
a=[12,13,14,15,16,17,18,19]
b=[1,2,3,4,5]
a.extend(b)
print(a)
a. sort()
print(a)

[12, 13, 14, 15, 16, 17, 18, 19, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19]

In [59]:
a=['apple','banana','ball','Zebra','Apple']
if a[3]=="ball":
    print("hello world")
else:
    a[2]=a[3]+"copy"
    print(a)

['apple', 'banana', 'Zebracopy', 'Zebra', 'Apple']

In [54]:
a=["APple","Banana","ball","zebra","Zebra"]
for i in range(len(a)):
    print(a[i])
    print(i)

APple
0
Banana
1
ball
2
zebra
3
Zebra
4

In [61]:
#Update multiple value.
a=["APple","Banana","ball","zebra","Zebra"]
for i in range(len(a)):
    if a[i]=="Zebra":
        a[i]="HTML"
print(a)

['APple', 'Banana', 'ball', 'zebra', 'HTML']

In [3]:
#delete
a=["apple","Banana","Ball","zebra","Mango "]
del a[0]#delete required index.
print(a)

['Banana', 'Ball', 'zebra', 'Mango ']

In [5]:
a=["apple","Banana","Ball","chocolate","drink","dog","fish "]
for i in range(len(a)):
    print(a[i])
    print(i)

apple
0
Banana
1
Ball
2
chocolate
3
drink
4
dog
5
fish
6

In [ ]:
n=int(input("Enter n= "))
info=" "
for i in range(n):
    name=input("Enter name= ")
    add= input("Enter add= ")
    age=int(input("Enter age= "))
    data=f"hello world i am {name}. I am from {add}.I am {age} years old."
    info=info +data


print(info)