In [1]:
#tuple
# ordered
# multiple and duplicate
# indexing
# imutable

In [9]:
a=(1,2,3,4,5,6,7,8,9)
print(a[::-1])
for i in range(len(a)):
    print(i)

(9, 8, 7, 6, 5, 4, 3, 2, 1)
0
1
2
3
4
5
6
7
8

In [16]:
a=(1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7)
print(a.count(4))

2

In [18]:
t=()
n= int(input("Enter n= "))
for i in range (n):
    x= input("enter value of tuple= ")
    t=t+(x,)
print(t)

Enter n= 2
enter value of tuple= Apple
enter value of tuple= Ball
('Apple', 'Ball')

In [2]:
a="11"
print(tuple(a))
a=[1,2,3,4,5,6]
print(tuple(a))

('1', '1')
(1, 2, 3, 4, 5, 6)

In [3]:
#dict
#indexing
#ordered
#multiple data
#mutable
#d={<key>:<value>,<key>:<value>,<key>:<value>}

In [5]:
d={}#empty dict
d['a']="apple"
d['b']="Ball"
d['c']="cat"
print(d)

{'a': 'apple', 'b': 'Ball', 'c': 'cat'}

In [10]:
a={'a': 'apple', 'b': 'Ball', 'c': 'cat'}
a['a']="Apple "#in this case we update the value of a.
print(a)
print(len(a))
a['A']="Act"
print(a)
print(len(a))

{'a': 'Apple ', 'b': 'Ball', 'c': 'cat'}
3
{'a': 'Apple ', 'b': 'Ball', 'c': 'cat', 'A': 'Act'}
4

In [3]:
a={'a': 'apple', 'b': 'Ball', 'c': 'cat'}
for i in a.values():
    print(i)
for i in a .items():
    print(i)

apple
Ball
cat
('a', 'apple')
('b', 'Ball')
('c', 'cat')

In [ ]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("Enter name=")
    phone= int(input("enter phone number="))
    d[phone]=name
print(d)
#No arthimetic operators used in dictonaries.(+,*)

In [3]:
d={'a': 'apple', 'b': 'Ball', 'c': 'cat'}
a={'d':'dog','e':'Elephant','f':'fish'}
d.update(a)
print(d)

{'a': 'apple', 'b': 'Ball', 'c': 'cat', 'd': 'dog', 'e': 'Elephant', 'f': 'fish'}

In [5]:
a={'a': 'apple', 'b': 'Ball', 'c': 'cat', 'd': 'dog', 'e': 'Elephant', 'f': 'fish'}
del a['a']
print(a)

{'b': 'Ball', 'c': 'cat', 'd': 'dog', 'e': 'Elephant', 'f': 'fish'}

In [7]:
a={'a': 'apple', 'b': 'Ball', 'c': 'cat', 'd': 'dog', 'e': 'Elephant', 'f': 'fish'}
b=a.pop('a')
print(a)
print(b)

{'b': 'Ball', 'c': 'cat', 'd': 'dog', 'e': 'Elephant', 'f': 'fish'}
apple

In [10]:
a={'Ram':[9857587584,9808745878],'Shyam':[9865897089,980866788]}
print(a['Ram'])
print(a['Ram'][1])
print(a['Shyam'][1])

[9857587584, 9808745878]
9808745878
980866788

In [12]:
a={'Ram':[9857587584,9808745878],'Shyam':[9865897089,980866788]}
del a['Ram'][0]
print(a)

{'Ram': [9808745878], 'Shyam': [9865897089, 980866788]}

In [ ]:
d={}
n= int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    ntc_phone=int(input("Enter ntc number="))
    ncell_phone=int(input("Enter ncell number="))
    d[name]=[ntc_phone,ncell_phone]
print(d)

In [2]:
info={'name':["Ram","Shyam","Hari","Ram"],
       'age':[34,45,56,67],
       'add':['kathmandu','lalitpur','bhaktapur','Kathmandu']}
print(info)

{'name': ['Ram', 'Shyam', 'Hari', 'Ram'], 'age': [34, 45, 56, 67], 'add': ['kathmandu', 'lalitpur', 'bhaktapur', 'Kathmandu']}

In [13]:
data=[{'name':'Ram','age':45,'add':'kathmandu'},
      {'name':'Ram','age':45,'add':'kathmandu'},
      {'name':'Ram','age':45,'add':'kathmandu'}]
print(data)
b=[{'name':'Krishna','age':34,'add':'lalitpur'}]
data.append(b)
print(data)

[{'name': 'Ram', 'age': 45, 'add': 'kathmandu'}, {'name': 'Ram', 'age': 45, 'add': 'kathmandu'}, {'name': 'Ram', 'age': 45, 'add': 'kathmandu'}]
[{'name': 'Ram', 'age': 45, 'add': 'kathmandu'}, {'name': 'Ram', 'age': 45, 'add': 'kathmandu'}, {'name': 'Ram', 'age': 45, 'add': 'kathmandu'}, [{'name': 'Krishna', 'age': 34, 'add': 'lalitpur'}]]

In [14]:
#list inside dict
#dict inside list
#dict inside dict(nested dict)

In [2]:
# WAP to create dict inside dict with CRUD
# WAP to create list inside dict with CRUD
# WAP to create dict inside list with CRUD

In [ ]:
#function